/* search */

.search {
    flex: 1;
    height: 40px;
    position: relative;
    color: white;

    ::placeholder {
        color: white;
        opacity: .6;
    }

    input {
        position: absolute;
        width: 80%;
        height: 40px;
        border-radius: 20px;
        background-color: hsla(0, 0%, 100%, 0.1);
        border: none;
        outline: none;
        color: white;
        left: 0;
        top: 0;
        padding-left: 46px;
        padding-right: 30px;
        font-size: 14px;
        z-index: 9999;
    }

    label {
        position: absolute;
        font-size: 26px;
        left: 10px;
        top: 50%;
        z-index: 9999;
        color: white;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listSearch {
        width: 80%;
        position: absolute;
        /* background-color: #1b2051; */
        background-color: #1b2051;
        z-index: 999;
        top: 0;
        left: 0;
        border-radius: 20px;
        padding: 60px 10px 16px 10px;

        .titleSearch {
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul {
            all: unset;
            width: 100%;
            max-height: 320px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                width: 100%;
                padding: 8px 10px;
                border-radius: 6px;
                font-size: 14px;
                display: flex;
                align-items: center;
                z-index: 1000000;

                .icon {
                    color: rgba(256, 256, 256, 0.4);
                    width: 16px;
                    height: 16px;
                    margin-right: 12px;
                }

                &:hover {
                    cursor: pointer;
                    background: rgba(256, 256, 256, 0.1);
                }

            }


        }




    }


    input:focus {
        background: #1b2051;
    }

}


.same-icon-input {
    position: absolute;
    cursor: pointer;
    right: 24%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 111111;
}

#loadVal {
    animation: loading .8s linear;
}

@keyframes loading {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}