.wrapper {
    width: 240px;
    min-height: 100vh;
    position: fixed;
    background-color: #1b2039;
    left: 0;
    top: 0;
    z-index: 100;
    transition: 0.2s;



    &>span {
        display: block;
        height: 1px;
        margin: 0 30px;
        background: rgba(130, 128, 128, 0.2);
    }

}



@media screen and (max-width: 480px) {
    .wrapper {
        width: 240px;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);

        }

        z-index: 1000;
    }

    .overlay {
        position: fixed;
        inset: 0;
        left: 240px;
        z-index: 1001;
        display: none;

        &.active {
            display: block;
        }
    }


}


@media screen and (min-width: 481px) and (max-width: 1023px) {
    .wrapper {
        width: 70px !important;

        &.active {
            width: 240px !important;
            z-index: 200;
        }
    }

    .overlay {
        position: fixed;
        inset: 0;
        left: 240px;
        display: none;
        z-index: 1001;

        &.active {
            display: block;
        }
    }

}

@media screen and (max-width: 768px) {}