// Menu wrapper
span {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 16.8px;
    display: flex;
    align-items: center;
}

.menu-list {
    width: 280px;
    min-height: 100px;

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: min((100vh - 96px) - 60px, 734px);
        min-height: 100px;
        color: white;
        border-radius: 8px;
        background-color: #1b2039;
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
        overflow: hidden;
        z-index: 105 !important;

        .requiredLogin {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.shared_box {
            max-width: 160px !important;
        }
    }

    &.custom {
        width: 230px;
    }

    &.customAddPlaylist {
        width: 230px;
        height: 295px;
        padding: 10px 0;
        background-color: #1b2039;
        border-radius: 8px;

        .wrapper {
            height: 100%;
        }

        .createPlaylist {
            display: flex;
            align-items: center;
            padding: 10px 20px 10px 14px !important;

            .icon {
                width: 25px;
                height: 25px;
                margin: 0;
                padding: 0;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
            }

        }

        .searchBox {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                padding: 0 15px;
                width: 200px;
                height: 35px;
                color: white;
                border: none;
                outline: none;
                border-radius: 24px;
                background-color: rgba(255, 255, 255, 0.1);
            }

            margin-bottom: 10px;
        }


    }
}


// Header
.header {
    all: unset;
    position: relative;
    font-size: 14px;
    width: 100%;


    .song-info {
        width: 100%;
        display: flex;
        padding: 15px 15px 0 15px;

        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 3px;
        }

        .song-content {
            width: 80%;
        }

        .song-name {
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 !important;
            padding: 0 !important;

        }

        .song-name:hover {
            color: violet;
        }

        .des-song {
            display: flex;
            align-items: center;
            height: 18px;

            .like-song {
                margin-right: 10px;
                display: flex;
                align-items: center;
                opacity: .3;
                font-size: 12px;

                .icon {
                    margin-right: 4px;
                    width: 14px;
                    height: 14px;
                }
            }
        }


    }

    .nav {
        margin: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);

        .nav-item {
            padding: 8px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            font-size: 10px;
            opacity: .9;

            .icon {
                width: 16px;
                height: 16px;
                margin-bottom: 6px;
            }
        }

        .nav-item:hover {

            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;

        }
    }

}


.menu {
    font-size: 13px;



    .menu-item-shared {
        width: 100%;
    }

    .info {
        padding: 15px;

        .lineInfo {
            margin-bottom: 6px;
        }

        span {
            display: block;
            padding: 0;
            margin: 0;

            &:nth-child(1) {
                font-size: 12px;
                color: #FFFFFF80;
            }

            &:nth-child(2) {
                font-size: 14px;
                color: white;

            }
        }
    }


    ul.listPlaylist {
        width: 100%;
        margin: 0;
        padding: 0;

        .loadingText {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }

        li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 14px;
            padding: 6px 14px;
            transition: 0.1s;

            .icon {
                margin-right: 10px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }

            .title {
                width: 80%;
                white-space: nowrap;
                max-lines: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .menu-item {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 14px;
        position: relative;
        opacity: .7;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .icon {
            width: 16px;
            height: 16px;
            margin-right: 12px;
        }

        .icon_sub_menu {
            position: absolute;
            right: 0;
        }
    }
}

.copyright {
    font-size: 13px;
    margin: 6px 0 12px 0;
    text-align: center;
    opacity: .4;
}