.home {
    width: 100%;
    color: white !important;

    .title {
        font-size: 22px;
        font-weight: bold;
        margin: 0px 0 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &>a {
            display: block;
            font-size: 14px;
            color: white;
            opacity: .7;
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #bannerHome {
        justify-content: unset;
        display: flex;
        align-items: center;
        height: 490px;
        margin-bottom: 50px;

        img {
            transform: translateX(-100px);
            opacity: 0;
            width: 50%;
        }

        .content {
            h2 {
                font-size: 50px !important;
                color: aqua;
                animation-delay: .2s;
                transition: 0.2s;
                transform: translateX(-100px);
                opacity: 0;

                span {
                    font-size: 26px;
                    font-weight: 500;
                    transition: 0.2s;

                }
            }

            p {
                font-size: 16px;
                line-height: 1.6;
                margin: 20px 0;
                animation-delay: .4s;
                transform: translateX(-100px);
                opacity: 0;
            }

            .navHome {
                animation-delay: 0.6s;
                transform: translateX(-100px);
                opacity: 0;
            }

            button {
                font-size: 14px;
                background-color: transparent !important;
                outline: none;
                font-weight: 500;
                cursor: pointer;
                border: none;
                border-radius: 20px;


                .btn {
                    display: block;
                    padding: 6px 10px;
                    color: white;
                    border-radius: 20px;
                    transition: 0.2s;

                    &:hover {
                        border: unset !important;
                        border: 1px solid aqua;
                        box-shadow: 0px 0px 4px aqua, 0px 0px 6px aqua, 0px 0px 8px aqua;
                    }
                }

                &:nth-child(1) {
                    background: transparent;
                    border-bottom: 1px solid aqua;
                    margin-right: 12px;

                    .btn {
                        color: white;
                    }
                }

                &:nth-child(2) {
                    border-top: 1px solid aqua;
                }


            }
        }
    }

    .aim {

        animation: showText 1s ease-in-out forwards;
    }

    @keyframes showText {
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .widget {}

}

@media (max-width: 480px) {
    .home {
        #bannerHome {
            height: 490px;
            flex-direction: column;

            img {
                width: 100%;
                margin-top: 30px;
            }

            .content {
                position: absolute;
                top: 20%;

                h2,
                p {
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
                    /* Bóng đổ cho văn bản */
                }
            }
        }
    }

    .downloadWindows.mobile {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .home {
        #bannerHome {
            height: 490px;
            flex-direction: column;

            img {
                width: 70%;

            }

            .content {
                position: absolute;
                top: 20%;

                h2,
                p {
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
                    /* Bóng đổ cho văn bản */
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .home {
        #bannerHome {


            .content {
                h2 {
                    font-size: 30px !important;
                    color: aqua;
                    animation-delay: .2s;

                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                p {
                    font-size: 12px;
                    line-height: 1.6;
                    margin: 20px 0;
                    animation-delay: .4s;
                }
            }
        }
    }


}

@media (max-width: 1024px) {}

@media (max-width: 1200px) {}