.bxh {
    color: white;
    overflow: hidden;

    #randomSong {
        cursor: pointer;
        margin-left: 10px;
    }

    #randomSong:hover {
        opacity: .7;
    }

    .listSong {
        min-height: 500px;

        ul {
            padding: 0;
        }
    }

    .header {
        display: flex;
        align-items: center;

        &>img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            margin-left: 10px;

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        &.mobile {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                font-size: 21px;
            }

            #randomSong {
                margin: 15px 0;
            }

            .btn {
                padding: 6px 20px;
                border-radius: 20px;
                border: 1px solid;
                border-color: #fff !important;
                transition: 0.1s;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 15px 0;

                .btnLogin {
                    color: white !important;
                    all: unset;
                    margin-left: 10px;
                }
            }

        }
    }
}

@media screen and (max-width: 480px) {
    .bxh {
        margin-top: 70px;

        .header {
            &:not(.mobile) {
                display: none !important;
            }

            &.mobile {
                display: flex !important;
            }
        }

        .listSong {
            ul {}
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
    .bxh {
        margin-top: 20px;
    }
}