.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    color: white;
    border-radius: 8px;
    background-color: #1b2039;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    overflow: hidden;
    z-index: 105 !important;
    padding: 6px;
}

hr {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 2px;
    margin: 9px 18px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

// Menu wrapper
span {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 16.8px;
    display: flex;
    align-items: center;
}

.menu-list {
    width: 300px;
    min-height: 100px;
}

.header {
    all: unset;
    font-size: 14px;
}

.menu-item-custom {
    border-radius: 4px;
    padding: 14px !important;
}

.menu {
    font-size: 14px;

    .menu-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        position: relative;
        opacity: .7;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .icon {
            width: 16px;
            height: 16px;
            margin-right: 12px;
        }

        .icon_sub_menu {
            position: absolute;
            right: 0;
        }
    }
}