.song {

    display: flex;
    align-items: center;

    &:hover,
    &.active {
        background: rgba(256, 256, 256, 0.1) !important;
        border-radius: 6px !important;
        z-index: 104;

    }

    &.showMenu {
        z-index: 105;
    }

    &.showMenu .durationSong {
        opacity: 0 !important;
    }

    &:hover {
        z-index: 105;
    }

    &:not(.showMenu) {
        z-index: 104 !important;
    }



    &.active .imageSong img,
    &:hover .imageSong img {
        opacity: .4;
        border-radius: 4px;
    }

    &:hover .boxOption {
        background: rgba(256, 256, 256, 0.1) !important;
        display: block;

    }

    .idSong {
        display: block;
        width: 40px;
        height: 100%;

    }

    .contentSong {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;


        .imageSong {
            position: relative;
            width: 40px !important;
            height: 40px !important;
            border-radius: 4px;
            display: flex;
            align-items: center;

            img {
                position: absolute;
                width: 100% !important;
                height: 100% !important;
                border-radius: 4px;
            }


            .playSong {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;

                .iconSong {
                    cursor: pointer;
                    display: block;
                    margin: 0;
                    padding: 0;
                }

                &.active {
                    display: none;
                }

            }
        }

        .desSong {
            flex: 1;
            padding-left: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;


            .nameArtist {
                width: max-content;
                max-width: 80% !important;
                font-size: 12px;
                color: white;
                opacity: 0.4;
                white-space: nowrap;
                overflow: hidden;
                z-index: 4;
                position: relative;
                text-overflow: ellipsis;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: aqua;
                }
            }

            .nameSong {
                width: max-content;
                max-width: 80% !important;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                z-index: 4;
                position: relative;
                text-overflow: ellipsis;
            }
        }

        .timeUpLoad {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            opacity: .4;
        }

        .durationSong {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            font-size: 12px;
            opacity: .4;

        }


    }

    &:hover .durationSong {
        opacity: 0;
    }

    .boxOption {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.1s;
        background-color: transparent;
        display: none;

        &.showMenu {
            background: rgba(256, 256, 256, 0.1) !important;
            display: block;
            z-index: 105;
        }

        .contentOption {
            height: 100%;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;

            .addLibrary,
            .options {
                position: relative;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .addLibrary:hover,
            .options:hover {
                cursor: pointer;
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                border-radius: 50%;
            }

            .iconSong {
                display: block;
            }


        }

    }
}