.container {
    max-width: 540px;
    height: 384px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: #1b2051;
    border-radius: 4px;

    .header {
        width: 100%;
        margin-bottom: 10px;
        color: white;

        h2 {
            font-size: 18px;
        }
    }

    .content {
        width: 498px;
        height: 248px;
        border: 1px solid #FFFFFF80;
        border-radius: 4px;
        padding: 12px 14px;
        overflow-y: scroll;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);

        &::-webkit-scrollbar {
            width: 0.3em;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-top: 20px;

        .contributeLyrics {
            color: violet;
            cursor: pointer;
        }

        button {
            all: unset;
            padding: 9px 24px;
            border-radius: 20px;
            border: 1px solid #FFFFFF80;
            background: rgba(255, 255, 255, 0.1);
            color: white;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}