.widget {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    transition: 0.1s;
    width: 32%;
    background: rgba(255, 255, 255, 0.1) !important;

    span {
        all: unset;
    }

    &::after {
        content: "";
        width: 100%;
        height: 0.6px;
        background-color: rgba(256, 256, 256, 0.1);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover,
    &.active {
        background: rgba(0, 0, 0, 0.1) !important;
        border-radius: 6px !important;
        z-index: 104;

        .thumbnailSong {
            .imgSong {
                opacity: .4;
                border-radius: 4px;
            }
        }
    }

    &.showMenu {
        z-index: 105;
    }

    &.showMenu .durationSong {
        opacity: 0 !important;
    }

    &:hover {
        z-index: 105;

        .playSong {
            opacity: 1 !important;
        }
    }

    &.active {
        .playSong {
            opacity: 0 !important;
        }

        .playSong.pause {
            opacity: 1 !important;
        }
    }

    &:not(.showMenu) {
        z-index: 104 !important;
    }





    &:hover .boxOption {
        background: rgba(256, 256, 256, 0.1) !important;
        display: block;

    }



    .contentSong {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        overflow: hidden;


        .thumbnailSong {
            position: relative;
            width: 84px !important;
            height: 84px !important;
            border-radius: 4px;
            display: flex;
            align-items: center;

            &.isArtist {
                border-radius: 50%;
                overflow: hidden;
            }

            span {
                position: absolute;
                width: 100% !important;
                height: 100% !important;

                .imgSong {
                    position: absolute;
                    width: 100% !important;
                    height: 100% !important;
                    border-radius: 4px;
                }
            }


            .playSong {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                opacity: 0;
                cursor: pointer;
            }
        }

        .desSong {
            flex: 1;
            padding-left: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #A0A0A0;

            .type {
                font-size: 13px;
                margin-bottom: 6px;
            }

            .custom {
                margin-top: 2px;
                font-size: 13px;
            }

            .name {
                width: max-content;
                max-width: 80% !important;
                color: white;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                z-index: 4;
                position: relative;
                text-overflow: ellipsis;
                font-size: 14px;
            }



        }
    }

    &:hover .durationSong {
        opacity: 0;
    }

    .boxOption {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.1s;
        background-color: transparent;
        display: none;

        &.showMenu {
            background: rgba(256, 256, 256, 0.1) !important;
            display: block;
            z-index: 105;
        }

        .contentOption {
            height: 100%;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;

            .addLibrary,
            .options {
                position: relative;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .addLibrary:hover,
            .options:hover {
                cursor: pointer;
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                border-radius: 50%;
            }

            .iconSong {
                display: block;
            }


        }

    }
}

@media screen and (max-width: 480px) {
    .song {
        &:hover {
            .boxOption {
                display: none !important;

            }
        }

        .contentSong {
            flex: 1 !important;

            .desSong {
                .name {
                    max-width: unset !important;
                    flex: 1;
                    width: max-content;
                    width: 100% !important;
                }
            }

            .durationSong,
            .timeUpLoad {
                display: none !important;
            }

            .thumbnailSong {
                .playSong {
                    opacity: 1;
                }
            }
        }

        .idSong {
            display: none !important;
        }


    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .song {
        .boxOption {
            display: block !important;

        }

        .contentSong {
            flex: 1 !important;

            .desSong {
                .name {
                    max-width: unset !important;
                    flex: 1;
                    width: max-content;
                    width: 100% !important;
                }
            }

            .durationSong,
            .timeUpLoad {
                display: none !important;
            }

            .thumbnailSong {
                span {
                    .imgSong {
                        opacity: 0.4;
                    }
                }

                .playSong {
                    opacity: 1;
                }
            }
        }

        .idSong {
            display: none !important;
        }
    }
}