.myMusicPlaylist {
    width: 100%;
    color: white !important;
    margin-top: -20px;
    overflow: hidden;
    min-height: 100vh;

    ul {
        padding: 0;
    }

    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        h2 {
            flex-shrink: 0;
            font-size: 24px;
            margin: 0;
            padding-right: 20px;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            text-transform: none;
            line-height: normal;
            color: var(--text-primary);
            font-weight: bold;
        }

        .nav {
            all: unset;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 14px;
            font-weight: 500;

            .navItem {
                display: block;
                padding: 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                position: relative;
                color: #fff;
                margin: 0 20px;
                line-height: normal;

                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                }

                &.active {
                    border-bottom: 1px solid aqua;

                }

            }
        }
    }

    .body {
        margin-top: 40px;

        ul.listPlaylist {
            padding: 0;
            width: 100%;
            display: flex !important;
            overflow: hidden !important;
            flex-wrap: wrap;
            scroll-snap-type: x mandatory;
            margin-bottom: 50px;
            gap: 26px;

        }

        .createPlaylist {
            width: 208px;
            height: 258px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 6px;

            cursor: pointer;

            &:hover {
                .iconMain {
                    color: #5767b9;
                    border-color: #5767b9;
                }

                .text {
                    color: #5767b9;
                }
            }

            .iconMain {
                width: 47px;
                height: 47px;
                border-radius: 50%;
                border: 3px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                .icon {
                    width: 60%;
                    height: 60%;
                }
            }

            .text {
                color: white;
                font-weight: 500;
                font-size: 15px;

            }
        }



    }
}