li.navItem {
    width: 100%;

    &:hover {
        cursor: pointer;
        background: rgba(130, 128, 128, 0.2);
    }

    &.nav_library {
        position: relative;
    }

    &>.nav_item {
        padding: 12px 21px;
        color: white;
        display: flex;
        align-items: center !important;
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: none;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.active {
            background: rgba(130, 128, 128, 0.2);
            border-right: 3px solid aqua;
        }
    }

    &.nav_playlist {
        position: absolute;
        bottom: 0 !important;
        background-color: #1b2039;
        border-top: 1px solid rgba(256, 256, 256, .2) !important;

        &:hover {
            background-color: #282e4b;
        }
    }

    // &.nav_playlist.active {
    //     bottom: 90px !important;
    // }

    &.nav_playlist>a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0 !important;
        margin-left: -20px;
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    li.navItem {
        &.nav_playlist.active {
            bottom: 0 !important;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    li {
        &>.nav_item {
            div.title {
                display: none !important;
            }
        }

        &.navItem.mobile {
            display: none !important;

            &.nav_playlist {
                display: none;
                border-color: transparent !important;


            }
        }

        &.showFullSidebar {
            div.title {
                display: block !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                white-space: nowrap !important;
                max-lines: 1;

            }

            &.navItem.mobile {
                display: block !important;

                &.nav_playlist {
                    border-color: white !important;
                }
            }
        }
    }


}





@media screen and (min-width: 481px) and (max-width: 1200px) {
    li.navItem {
        &.nav_playlist.active {
            bottom: 0 !important;
        }
    }
}