ul.listWidget {
    padding: 0;
    width: 100%;
    display: flex !important;
    scroll-snap-type: x mandatory;
    margin-bottom: 50px;
    overflow-x: hidden !important;
    color: white;

    &.wrapFlexBox {
        flex-wrap: wrap !important;

        li.wrapFlexBoxItem {
            margin-bottom: 30px;
        }
    }
}