.nameArtist {
    width: max-content;
    max-width: 80%;
    font-size: 12px;
    color: white;
    opacity: 0.4;
    overflow: hidden;
    z-index: 4;
    position: relative;
    text-overflow: ellipsis;

    &.customInfoSongMenuHeader {
        font-size: 14px !important;
        color: white !important;
        opacity: 1 !important;
    }

    p {
        width: max-content;
        display: inline;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: aqua;
        }
    }

}

@media screen and (max-width: 480px) {
    .nameArtist {
        max-width: unset !important;
        width: 100% !important;
    }
}